<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>StoreEverything - Edit item</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body id="content">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">StoreEverything</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/mydata}">My Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/items}">Create Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/myitems}">My Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/allitems}">All Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <button id="contrastButton" class="btn btn-warning" onclick="toggleContrast()">Contrast mode</button >
    </div>
  </div>
</nav>
<br />
<br />
<br />
<div class="container">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div th:if="${param.success}">
        <div class="alert alert-info">Succes!</div>
      </div>
      <div class="card-header">
        <h2 class="text-center">Update</h2>
      </div>
      <div class="card-body">
        <form method="post" role="form" th:action="@{/items/edit/save}" th:object="${item}">
          <input type="hidden" th:field="*{id}" />
          <div class="form-group mb-3">
            <label class="form-label">Name</label>
            <input class="form-control"
                   id="firstName"
                   name="firstName"
                   placeholder="Enter first name"
                   th:field="*{name}"
                   type="text"
                   th:required="true"
                   th:maxlength="20"
                   th:minlength="3"
            />
          </div>

          <div class="form-group mb-3">
            <label class="form-label">Description</label>
            <input class="form-control"
                   id="lastName"
                   name="lastName"
                   placeholder="Enter last name"
                   th:field="*{description}"
                   type="text"
                   th:required="true"
                   th:maxlength="500"
                   th:minlength="5"
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Link</label>
            <label class="form-label"></label>
            <input class="form-control"
                   id="link"
                   name="link"
                   placeholder="Enter password"
                   th:field="*{link}"
                   th:required="false"
                   type="text"
                   th:maxlength="500"
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Category</label>
            <label class="form-label"></label>
            <input class="form-control"
                   id="category"
                   name="category"
                   placeholder="Enter password"
                   th:field="*{category}"
                   th:required="true"
                   type="text"
                   th:maxlength="20"
                   th:minlength="3"
            />
          </div>
          <input type="hidden" th:field="*{date}" />
          <input type="hidden" th:field="*{ownerMail}" />
          <input type="hidden" th:field="*{sharedInfo}" />
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-secondary"><a th:href="@{/myitems}">Cancel</a></button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>


<style>
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: gray;
  }
  .contrast {
    color: yellow;
    background-color: black;
  }

  .contrast td {
    color: yellow;
    background-color: black;
  }

  .contrast tr {
    color: yellow;
    background-color: black;
  }

  .contrast .card-body {
    background-color: black;
  }

  .contrast .card-header {
    background-color: black;
  }

  .contrast .form-control {
    background-color: black;
    color: yellow;
  }
</style>

<script>



  function toggleContrast() {
    var button = document.getElementById("contrastButton");
    var contrast = document.getElementById('content');
    var isContrastActive = contrast.classList.contains("contrast");

    // Toggle the class
    if (isContrastActive) {
      contrast.classList.remove("contrast");
      localStorage.setItem("contrastMode", "inactive");
    } else {
      contrast.classList.add("contrast");
      localStorage.setItem("contrastMode", "active");
    }
  }

  // Restore class state on page load
  document.addEventListener("DOMContentLoaded", function() {
    var button = document.getElementById("contrastButton");
    var contrast = document.getElementById('content');
    var contrastMode = localStorage.getItem("contrastMode");

    if (contrastMode === "active") {
      contrast.classList.add("contrast");
    } else {
      contrast.classList.remove("contrast");
    }
  });

</script>