<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>StoreEverything - Users</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body id="content">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">StoreEverything</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/mydata}">My Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/items}">Create Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/myitems}">My Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/allitems}">All Items</a>
        </li>
        <div sec:authorize="hasRole('ADMIN')">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
          </li>
        </div>
      </ul>
    </div>
    <div class="d-flex">
      <button id="contrastButton" class="btn btn-warning" onclick="toggleContrast()">Contrast mode</button >
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h1> Users </h1>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.email}"></td>
      <td><button type="button" class="btn btn-primary"><a th:href="@{/user/{email}(email=${user.email})}">Details</a></button></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>



<style>
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: gray;
  }
  .contrast {
    color: yellow;
    background-color: black;
  }

  .contrast td {
    color: yellow;
    background-color: black;
  }

  .contrast tr {
    color: yellow;
    background-color: black;
  }

  .contrast .card-body {
    background-color: black;
  }

  .contrast .card-header {
    background-color: black;
  }

  .contrast .form-control {
    background-color: black;
    color: yellow;
  }
</style>

<script>



  function toggleContrast() {
    var button = document.getElementById("contrastButton");
    var contrast = document.getElementById('content');
    var isContrastActive = contrast.classList.contains("contrast");

    // Toggle the class
    if (isContrastActive) {
      contrast.classList.remove("contrast");
      localStorage.setItem("contrastMode", "inactive");
    } else {
      contrast.classList.add("contrast");
      localStorage.setItem("contrastMode", "active");
    }
  }

  // Restore class state on page load
  document.addEventListener("DOMContentLoaded", function() {
    var button = document.getElementById("contrastButton");
    var contrast = document.getElementById('content');
    var contrastMode = localStorage.getItem("contrastMode");

    if (contrastMode === "active") {
      contrast.classList.add("contrast");
    } else {
      contrast.classList.remove("contrast");
    }
  });

</script>